{{#each this}}
<li class="gallery__item" data-largeImageURL="{{largeImageURL}}">
  <div class="photo-card">
    {{!-- <a href="" class="gallery__link"> --}}
    <img class="gallery__image" src="{{webformatURL}}" alt="{{pageURL}} width=" {{webformatWidth}} height="webformatHeight" />
    <span class="gallery__icon">
      <i class="material-icons">zoom_out_map</i>
    </span>
    <div class="stats">
      <p class="stats-item">
        <i class="material-icons">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
  {{!-- </a> --}}
</li>
{{/each}}